<!DOCTYPE html>
<html>

<head>
	<title>Artigo</title>
</head>
<style>
	body{
		background-color: black;
		color: white;
	}
	.artigos{
		background-color: grey;
		height:80%;
		width:80%;
		text-align: justify;
		padding: 15px;
		position:absolute;
		overflow-x: 
	}		


</style>

<body>
	<h1>It's Work</h1>
	<div class="artigos">
		
			<a href="http://127.0.0.1:8000/"><h1>{{item.titulo}}</h1><h1>{{teste.titulo}}</h1></a>
			<h1>{{teste.corpo}}</h1>
			<h1>{{teste.data}}</h1>
		
	</div>

</body>

</html>