{% extends "index.html"%}
{% load static %}
{% block artigo_full %}


<div class='row'>
	<div id='artigo' class='col-lg-12 col-md-12 col-sm-12'>
		{% if teste.photo %}
			<img src="{% static '{{teste.photo}}' %}" class="img-responsive" alt="..."> <!-- HARDCODED- TEM QUE CONFIGURAR UM ROOT MANEIRO -->
		{% endif %}
		<a id='titulo' href="/artigos/{{teste.id}}">{{teste.titulo}}</a>
		<h5 id ='autor'>{{teste.autor}}</h5>
		<h5 id ='tag'>{{teste.tag}}</h5>
		<p>{{teste.corpo|safe}} </p>
		<h5 id ='data'>{{teste.data}}</h5>
	</div>
</div>

{% endblock %}
		