{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Portfolio's</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'content/css/bootstrap.css' %}">
<body>
	<div id='trabalho_destacado' class="row">
		{% for item in trabalhos%} <!-- cria um loop pelos trabalhos continos no portfolio-->
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
 		 			<img src="{% static 'content/dagon.png' %}" alt="...">
  					<div class="caption">
    					<h3>{{item.nome}}</h3>
    					<p>{{item.descricao}}</p>
    					<p>{{item.fim}}</p>
    					<p><a href="#" class="btn btn-primary" role="button">Ver Detalhes</a> 
  					</div>
				</div>
			</div>	
		{% endfor %}	  				
	</div><!-- FIM DA LINHA DOIS-->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{%  static 'content/js/bootstrap.min.js' %}"></script>
</body>
</html>