{% extends "index.html"%}
{% load static %}

{% block portfolio %}
<div class='portfolio-item'>
	{% for item in escopo%}
		<div class='row portfolio-item'>
			<div class='col-lg-4 col-md-4 col-sm-4 portfolio-foto'>
				<img src="{{item.foto}}" class="img-responsive" alt="...">
				<a href="{{item.url}}"> Página do projeto </a>
			</div>

			<div class='col-lg-8 col-md-8 col-sm-8 portfolio-desc'>
				<h1>{{item.nome}}</h1>
				<p>{{item.descricao|safe}}
				{{item.data}}
				{{item.tecnologia}}</p>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}