{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>workin on</title>
</head>

<style>
	body{
	}
	#container{
		width: 600px;
		height: 700px;
		
	}

</style>

<body>
	<div id='container'>
	{% for item in post %}
		{% if item.image %}
			<img src={{item.image.url}}> <!-- Got the url path to the image -->
		{% endif %}
		<h1> {{item.title}} </h1>
		<h2> {{item.author}} </h2>
		<p> {{item.body|safe}} </p>
		<h5> {{item.data}}</h5>
		<h5> {{item.tag}}</h5>
	{% endfor %}

	{% for contact in contacts %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.title|upper }}<br />
    ...
	{% endfor %}

	<div class="pagination">
    	<span class="step-links">
	        {% if contacts.has_previous %}
	            <a href="?page=1">&laquo; first</a>
	            <a href="?page={{ contacts.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
	        </span>

	        {% if contacts.has_next %}
	            <a href="?page={{ contacts.next_page_number }}">next</a>
	            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>
	</div>
</body>

</html>